@import "../../styles/variables.scss";

.loading_page {
  position: fixed;
  height: 100vh;
  background: $color2;
  width: 100%;
  z-index: 999;
  transition: 0.5s;

  .inner_loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
  }
}
