@import "../../styles/variables.scss";

.login_container {
  margin-top: 10rem;
  max-width: 876px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;

  .inner_login_container {
    max-width: 562px;

    .title {
      font-size: 3rem;
      margin-bottom: 5rem;
    }

    .subtitle {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 1.1rem;
      font-weight: 500;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .checkbox_container {
      margin-top: 1.2rem;
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 0.9rem;
      }
    }

    button {
      margin-bottom: 4rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 3px;
      color: #fff;
      min-width: 165px;
      min-height: 45px;
      border: none;
      background: $color6;
      transition: 0.3s;

      &:disabled {
        background: $color3;
      }

      &:not([disabled]):hover {
        background: #0000009a;
      }
    }

    .terms_conditions {
      color: $color4;
      font-size: 0.8rem;
      line-height: 17px;

      strong {
        color: $color4;
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 11rem;

    .inner_login_container {
      button {
        min-width: 252px;
        min-height: 40px;
      }
    }
  }
}

.authBG {
  position: absolute;
  right: 0%;
  bottom: 0%;
  max-width: 710px;
}

@media screen and (max-width: 1300px) {
  .authBG {
    max-width: 600px;
  }
}

@media screen and (max-width: 1100px) {
  .authBG {
    max-width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .authBG {
    display: none;
  }
}
