// VARIABLES
$color1: #4ad3c9;
$color2: #ededed;
$color3: #bfc3c5;
$color4: #71777a;
$color5: #4793f8;
$color6: #1e1e1e;
$color7: #cc0000;
$color8: #fa908c;
// VARIABLES

.color1 {
  color: $color1;
}

.color2 {
  color: $color2;
}

.color3 {
  color: $color3;
}

.color4 {
  color: $color4;
}

.color5 {
  color: $color5;
}

.color6 {
  color: $color6;
}

.color7 {
  color: $color7;
}

.color8 {
  color: $color8;
}
