@import "../../styles/variables.scss";

.top_line {
  margin-top: 5rem;
  border-top: 2px solid #000;
}

.bottom_line {
  border: 1px solid $color2;
}

.bottom_line_d {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 475px) {
  .title {
    font-size: 1.4rem;
  }
}
